<h1 mat-dialog-title *ngIf="data.id == 0">Новый напиток</h1>
<h1 mat-dialog-title *ngIf="data.id != 0">Редактирование {{data.name}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.name" placeholder="Название">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="data.cost" placeholder="Цена">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="data.count" placeholder="Количество">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Отмена</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Сохранить</button>
</div>
