<h1>Список напитков</h1>

<mat-spinner *ngIf="!drinkList"></mat-spinner>

<button mat-raised-button *ngIf="drinkList" (click)="addNewDrink()">Добавить напиток...</button>

<mat-grid-list cols="4" rowHeight="500px" *ngIf="drinkList">
  <mat-grid-tile *ngFor="let drink of drinkList">
    <mat-card class="drink-card">
      <mat-card-header>
        <mat-card-title>{{drink.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="img-common" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" (disabled)="true" (click)="editDrink(drink.id)">
      <mat-card-content>
        <p>
          Количество: {{drink.count}}
        </p>
        <p>
          Цена: {{drink.cost}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="editDrink(drink.id)">Редактировать</button>
        <button mat-button (click)="deleteDrink(drink.id)">Удалить</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

