<h1>Авторизация</h1>

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <p>
    <mat-form-field>
      <input matInput name="email" ngModel placeholder="Email">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input matInput name="password" ngModel placeholder="Password">
    </mat-form-field>
  </p>
  <p><button mat-raised-button type="submit">Авторизоваться</button></p>
</form>
