<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>TestProject</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
          <ul class='nav navbar-nav'>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home'></span> Покупки
              </a>
            </li>

            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/coins"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home'></span> Монеты
              </a>
            </li>

            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/drinks"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home'></span> Напитки
              </a>
            </li>

            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/auth"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home'></span> Авторизация
              </a>
            </li>

          </ul>

        </div>
    </div>
</div>
