<h1>Монеты</h1>

<mat-spinner *ngIf="!coinList"></mat-spinner>

<mat-grid-list cols="4" rowHeight="250px" *ngIf="coinList" >
  <mat-grid-tile *ngFor="let coin of coinList">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{coin.value}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Номинал: {{coin.value}}
        </p>
        <p>
          Количество: {{coin.count}}
        </p>
        <p>
          Заблокированна: {{coin.isBlocked}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="editCoin(coin.id)">Редактировать</button>        
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

