<h1 mat-dialog-title>Редактирование {{data.value}}</h1>
<div mat-dialog-content class="simple-dialog">
  <mat-form-field>
    <input matInput [(ngModel)]="data.count" placeholder="Количество">
  </mat-form-field>

  <mat-checkbox [(ngModel)]="data.isBlocked">Заблокированна</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Отмена</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Сохранить</button>
</div>
