<h1>Покупка</h1>

<mat-spinner *ngIf="!coinList">Загрузка монет...</mat-spinner>

<mat-grid-list cols="4" rowHeight="250px" *ngIf="coinList">
  <mat-grid-tile *ngFor="let coin of coinList">
    <mat-card class="drink-card">
      <mat-card-header>
        <mat-card-title>{{coin.value}}</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button (click)="addCoin(coin.id, coin.value)" [disabled]="coin.isBlocked">Добавить</button>{{coinCount[coin.id]}}
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<p>Итого: {{sum}}</p>

<mat-spinner *ngIf="!drinkList">Загрузка напитков...</mat-spinner>

<mat-grid-list cols="4" rowHeight="600px" *ngIf="drinkList">
  <mat-grid-tile *ngFor="let drink of drinkList">
    <mat-card class="drink-card">
      <mat-card-header>
        <mat-card-title>{{drink.name}}</mat-card-title>
        <mat-card-subtitle>Цена: {{drink.cost}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="img-common" [ngClass]="{'drink-card': true, 'disabled-img': sum < drink.cost || drink.count == 0 }" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" (disabled)="sum < drink.cost " (click)="buyDrink(drink.id)">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

